# Ignore everything …
*

# but …
!.gitignore

!.dir_colors
!Xresources
!Xresources.color
!Xresources.urxvt
!Xresources.xterm
!ackrc
!aliases.sh
!colors.sh
!cower/config
!ctags
!dunst/dunstrc
!git/config
!grep_colors.sh
!i3/config
!i3pystatus.conf
!i3status/config
!lein_profiles.clj
!less_colors.sh
!liquidpromptrc
!nvim/init.vim
!nvim/vim-plug.vim
!screenrc
!vimrc
!vimrc.neobundle
!xprofile
!zshrc
